@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1670418320793') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fork:before {
  content: "\e63e";
}

.icon-compare:before {
  content: "\e6ce";
}

.icon-star:before {
  content: "\e7df";
}

.icon-right:before {
  content: "\e7eb";
}

.icon-down:before {
  content: "\e69b";
}

.icon-return:before {
  content: "\e81a";
}

.icon-code:before {
  content: "\e6f2";
}

.icon-issue-opened:before {
  content: "\e61b";
}

.icon-git-commit:before {
  content: "\e656";
}

