.MyRepo {
  text-align: right;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 20px;
}
.MyRepo > div:first-child {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.MyRepo > div > h2 + div {
  flex: 1;
}
