body {
  height: 100%;
  width: 100%;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
}
li {
  list-style-type: none;
}

.Loading {
  margin: auto;
}

.Alert {
  position: absolute;
  z-index: 100;
  top: 20px;
  margin: auto;
}

.empty:empty {
  content: 'empty';
  background-image: url('./assets/images/NoData.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80% 80%;
}
