.menuItem {
  cursor: pointer;
  padding: 15px;
  margin: 5px;
  font-size: 16px;
  line-height: 100%;
}

.menuItem:hover {
  background-color: #ebebeb;
  border-radius: 5px;
}

.menuItem_chosen {
  padding: 15px;
  margin: 5px;
  background-color: #bae0ff;
  border-radius: 5px;
  font-size: 16px;
  line-height: 100%;
}
