.Info {
  height: 100%;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.Info > img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 30px;
}

.Info > * {
  width: 100%;
  max-width: 300px;
}

.MyRepo {
  height: 100%;
  width: 100%;
}
